a:hover {
  text-decoration: none;
}

/* mouse follower */
.mf-cursor {
  color: #9fd2ff;
}

/* back to top start */
.back_to_top.show {
  opacity: 0.8;
  bottom: 59px;
}

.back_to_top.show:hover {
  opacity: 1;
}

.back_to_top {
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  background-color: #f6be08;
  color: #fff !important;
  font-size: 20px;
  padding: 15px 20px 13px;
  border: 1px #fff solid;
}

/* back to top ends */
/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #9fd2ff;
}

::-webkit-scrollbar-thumb {
  background: #0864b1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0864b1;
}

/* loader start */
.loader {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#loaderImage {
  background-repeat: no-repeat;
}

/* loader ends */
* {
  font-family: "Roboto", sans-serif;
}

/***** Top menu *****/
.header {
  position: absolute;
  top: 1%;
  z-index: 2;
  left: 0;
  right: 0;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .logo .logo-text {
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}
.header .nav-section {
  display: flex;
  align-items: center;
}
.header .nav-section .navbar-nav {
  flex-direction: row-reverse;
  margin-right: 65px;
  gap: 55px;
}
.header .nav-section .navbar-toggler {
  background: url(../images/hamburger-menu-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
  z-index: 2;
  overflow: visible;
}
.header .nav-section a {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.header .nav-section a:hover {
  color: #f6be08;
  transition: 0.3s ease-in-out;
}

/* slider */
.slider-section {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.slider-section .carousel-caption {
  left: 9%;
  top: 30%;
  text-align: left;
  width: 50%;
}
.slider-section .carousel-caption h1 {
  font-size: 70px;
  font-weight: 900;
  color: #ffffff;
}
.slider-section .carousel-caption p {
  font-size: 25px;
  font-weight: normal;
  line-height: 60px;
  color: #ffffff;
  width: 90%;
}

.slider-section::after {
  content: "";
  background-image: url(../images/Hero\ Background\ Shape.svg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.section-a {
  padding: 80px 15px 40px 15px;
  text-align: center;
}
.section-a h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #0864b1;
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 40px;
  -webkit-text-decoration: underline grey 5px;
          text-decoration: underline grey 5px;
}
.section-a p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #676767;
  font-size: 25px;
  line-height: 2;
}

.section-b {
  padding: 40px 15px 40px 15px;
  background-image: url(../images/Rectangle-4.png);
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}
.section-b .owl-carousel {
  padding: 40px 0 0 0;
}
.section-b h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #0864b1;
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 40px;
  -webkit-text-decoration: underline grey 5px;
          text-decoration: underline grey 5px;
}
.section-b .card {
  filter: drop-shadow(0px 0px 6px rgba(8, 100, 177, 0.2));
  text-align: right;
}
.section-b p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #676767;
  font-size: 20px;
  text-align: center;
}
.section-b a {
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
  font-style: normal;
  text-align: left;
  color: #0864b1;
}
.section-b .owl-dots {
  margin-top: 50px !important;
}
.section-b .owl-dots .owl-dot span {
  background: #9fd2ff;
  width: 60px;
  height: 10px;
}
.section-b .owl-dot.active span {
  width: 60px;
  height: 10px;
  background: #0864b1 !important;
}

.section-c {
  padding: 60px 15px 40px 15px;
  text-align: center;
}
.section-c h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #0864b1;
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 40px;
  -webkit-text-decoration: underline grey 5px;
          text-decoration: underline grey 5px;
}
.section-c .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-c p {
  font-size: 23px;
  font-weight: normal;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  color: #676767;
  width: 70%;
}
.section-c i {
  color: #0864b1;
  font-size: 30px;
}
.section-c h4 {
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  color: #0864b1;
}
.section-c h5 {
  font-size: 25px;
  font-weight: normal;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  color: #676767;
}
.section-c .owl-theme .owl-dots,
.section-c .owl-theme .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30%;
  width: 100%;
}
.section-c .owl-carousel .owl-nav button.owl-next,
.section-c .owl-carousel .owl-nav button.owl-prev,
.section-c .owl-carousel button.owl-dot {
  width: 50px;
  height: 82.4px;
}
.section-c .owl-carousel span {
  display: none;
}
.section-c .owl-carousel .owl-nav button.owl-next {
  background: url(../images/next.png);
}
.section-c .owl-carousel .owl-nav button.owl-prev {
  background: url(../images/before.png);
}

.section-d {
  padding: 80px 15px 0 15px;
  text-align: center;
}
.section-d .col-12 {
  padding: 0;
}
.section-d h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #0864b1;
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 40px;
  -webkit-text-decoration: underline grey 5px;
          text-decoration: underline grey 5px;
}
.section-d iframe {
  padding-top: 25px;
  width: 100%;
  height: 578px;
}

.footer {
  background-color: #0864b1;
  padding: 40px 15px 10px 15px;
}
.footer .left {
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}
.footer .left p,
.footer .left a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;
}
.footer .social {
  display: flex;
  gap: 15px;
}
.footer .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer h2 {
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}
.footer h3 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}
.footer h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

/*Mobile View*/
@media screen and (max-width: 767px) {
  .header .logo {
    justify-content: center;
  }
  .header .nav-section {
    padding-top: 15px;
  }
  .header .nav-section a {
    font-size: 15px;
  }
  .header .nav-section .navbar-nav {
    gap: 15px;
  }
  .section-a {
    padding: 40px 0 10px 0;
  }
  .section-a h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  .section-a p {
    font-size: 17px;
    line-height: 2;
  }
  .section-b {
    padding: 20px 0;
  }
  .section-b h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  .section-b p {
    font-size: 16px;
  }
  .section-c {
    padding: 40px 0;
  }
  .section-c h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  .section-c p {
    font-size: 17px;
    width: 100%;
    line-height: 1.5;
  }
  .section-c .owl-theme .owl-dots,
  .section-c .owl-theme .owl-nav {
    display: none;
    position: static;
  }
  .section-d {
    padding: 20px 15px 0 15px;
  }
  .section-d h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  .section-d iframe {
    height: 378px;
  }
  .footer .left {
    display: grid;
    padding-bottom: 25px;
  }
  .footer .right {
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }
}
/* ios */
/* windows */
/*portrait view*/
@media (min-width: 768px) and (max-width: 991px) {
  .header .nav-section a {
    font-size: 17px;
  }
  .header .nav-section .navbar-nav {
    gap: 25px;
  }
  .section-a p br {
    display: none;
  }
  .section-c p {
    width: 100%;
  }
  .section-c .owl-theme .owl-dots,
  .section-c .owl-theme .owl-nav {
    bottom: 20%;
  }
  .footer .left {
    display: block;
  }
}
/*landscape*/
@media (min-width: 992px) and (max-width: 1199px) {
  .slider-section .carousel-caption {
    left: 5%;
  }
  .slider-section .carousel-caption h1 {
    font-size: 50px;
  }
  .slider-section .carousel-caption p {
    font-size: 20px;
    line-height: 40px;
  }
  .section-c p {
    width: 80%;
  }
  .footer h2 {
    font-size: 24px;
  }
}
/* 1280 resolution */
/* 1440  900 resolution */
/*Large View*/
@media (min-width: 1600px) {
  .header .container,
  .navigation .container,
  .section-a .container,
  .section-b .container,
  .section-c .container,
  .section-d .container,
  .section-e .container,
  .section-f .container,
  .section-g .container,
  .section-h .container,
  .section-i .container,
  .footer .container,
  .copyright .container {
    max-width: 1600px;
  }
  .header {
    position: absolute;
  }
  .header .logo {
    gap: 20px;
  }
  .header .logo .logo-text {
    font-size: 45px;
  }
  .header .nav-section .navbar-nav {
    margin-right: 65px;
    gap: 55px;
  }
  .header .nav-section .navbar-toggler {
    height: 35px;
    width: 35px;
  }
  .header .nav-section a {
    font-size: 30px;
  }
  /* slider */
  .slider-section .carousel-caption {
    left: 9%;
    top: 30%;
    width: 50%;
  }
  .slider-section .carousel-caption h1 {
    font-size: 100px;
  }
  .slider-section .carousel-caption p {
    font-size: 35px;
    line-height: 60px;
    width: 90%;
  }
  .section-a {
    padding: 80px 15px 40px 15px;
    text-align: center;
  }
  .section-b {
    padding: 40px 15px 40px 15px;
    background-size: 100% 60%;
  }
  .section-b a {
    font-size: 20px;
  }
  .section-b .owl-dots {
    margin-top: 50px !important;
  }
  .section-b .owl-dots .owl-dot span {
    width: 60px;
    height: 10px;
  }
  .section-b .owl-dot.active span {
    width: 60px;
    height: 10px;
  }
  .section-c {
    padding: 60px 15px 40px 15px;
    text-align: center;
  }
  .section-c h2 {
    margin-bottom: 10px;
    padding-bottom: 40px;
  }
  .section-c p {
    font-size: 23px;
    width: 50%;
  }
  .section-c i {
    color: #0864b1;
    font-size: 30px;
  }
  .section-c h4 {
    font-size: 25px;
  }
  .section-c h5 {
    font-size: 25px;
  }
  .section-c .owl-theme .owl-dots,
  .section-c .owl-theme .owl-nav {
    bottom: 30%;
    width: 100%;
  }
  .section-c .owl-carousel .owl-nav button.owl-next,
  .section-c .owl-carousel .owl-nav button.owl-prev,
  .section-c .owl-carousel button.owl-dot {
    width: 50px;
    height: 82.4px;
  }
  .section-d {
    padding: 80px 15px 0 15px;
    text-align: center;
  }
  .section-d .col-12 {
    padding: 0;
  }
  .section-d h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: #0864b1;
    font-size: 50px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    -webkit-text-decoration: underline grey 5px;
            text-decoration: underline grey 5px;
  }
  .section-d iframe {
    padding-top: 25px;
    width: 100%;
    height: 778px;
  }
  .footer {
    padding: 40px 15px 10px 15px;
  }
  .footer .left {
    gap: 30px;
    padding-bottom: 40px;
  }
  .footer .left p,
  .footer .left a {
    font-size: 18px;
  }
  .footer .social {
    gap: 15px;
  }
  .footer h2 {
    font-size: 34px;
  }
  .footer h3 {
    font-size: 25px;
  }
  .footer h4 {
    font-size: 20px;
  }
}
@media (min-width: 1912px) {
  .header .container,
  .navigation .container,
  .section-a .container,
  .section-b .container,
  .section-c .container,
  .section-d .container,
  .section-e .container,
  .section-f .container,
  .section-g .container,
  .section-h .container,
  .section-i .container,
  .footer .container,
  .copyright .container {
    max-width: 1600px;
  }
}
/* IE browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .carousel-inner .carousel-item > img {
    animation: none;
  }
}/*# sourceMappingURL=stylesheet.css.map */